@charset "utf-8";

// Colors
// (https://dribbble.com/shots/6744282-The-Lamp-Shades)
$white:          #ffffff;
$base-white:     #e3e3e3;
$base-lightgrey: #abaaaa;
$base-darkgrey:  #636363;
$base-black:     #1e1d1d;
$accent-grey:    #cdc0b2;
$accent-brown:   #5a3623;
$accent-beige:   #b79267;
$accent-orange:  #b26434;


$text: $base-black;
$link: $accent-orange;
// $link: #00DBB4;
// $link: #00B9CC;
// $link: #01BA36;
// $link: #0E5C22;
// $link: #669275;
$body-font-size: 12px;

@import "~bulma/bulma.sass";