@charset "utf-8";

// Colors
// (https://dribbble.com/shots/6744282-The-Lamp-Shades)
$white:          #ffffff;
$base-white:     #e3e3e3;
$base-lightgrey: #abaaaa;
$base-darkgrey:  #636363;
$base-black:     #1e1d1d;
$accent-grey:    #cdc0b2;
$accent-brown:   #5a3623;
$accent-beige:   #b79267;
$accent-orange:  #b26434;

// Colors Schema: SF-maritime
$mm-dark-green: #084530;
$mm-black: #0d100d;
$mm-white: #ddd7c7;
$mm-sea-green: #606e5a;
$mm-orange: #ba2905;
$mm-dark-blue: #163953;
$mm-light-blue: #516c7b;
$mm-yellow: #EFB778;

$mm-other-green: #02c159;
$mm-other-yellow: #e0af0f;
$mm-other-yellow2: #e8c159;

$primary: $mm-dark-green;
$text: $mm-black;
// $link: $mm-light-blue;
$body-font-size: 16px;


@import "~bulma/bulma.sass";

.breadcrumb li.is-active a {
    color: $mm-yellow;
}
.breadcrumb li a {
    color: $mm-light-blue;
}

hr {
    background-color: $mm-sea-green;
}
