@charset "utf-8";

// Colors
// (https://dribbble.com/shots/6744282-The-Lamp-Shades)
$white:          #ffffff;
$base-white:     #e3e3e3;
$base-lightgrey: #abaaaa;
$base-darkgrey:  #636363;
$base-black:     #1e1d1d;
$accent-grey:    #cdc0b2;
$accent-brown:   #5a3623;
$accent-beige:   #b79267;
$accent-orange:  #b26434;


$text: $base-black;
$link: $accent-orange;
// $link-visited: $accent-orange;

@import "~bulma/bulma.sass";


#top-bar {
    background: $base-white; 
    padding: 10px 50px;
    .breadcrumb {
        font-size: 0.7em;
    }
    
}

#main-area {
    padding: 50px 50px;
}

#pinned-message {
    margin: 0px 0px 50px 0px;
}

#contact-info {
    margin: 25px 0px 50px 0px;
}