@charset "utf-8";

// Colors
// (https://dribbble.com/shots/6744282-The-Lamp-Shades)
$white:          #ffffff;
$base-white:     #e3e3e3;
$base-lightgrey: #abaaaa;
$base-darkgrey:  #636363;
$base-black:     #1e1d1d;
$accent-grey:    #cdc0b2;
$accent-brown:   #5a3623;
$accent-beige:   #b79267;
$accent-orange:  #b26434;


$text: $base-black;
@import "~bulma/bulma.sass";

#topBar {
    border: 1px solid blue;
    margin: 10px auto;
    max-width: 1000px;
}

#mainArea {
    border: 1px solid green;
}