
@import "../style/index.scss";


// #pinned-message {
//     margin: 0px 0px 50px 0px;
// }

// #contact-info {
//     margin: 25px 0px 50px 0px;
// }

#top-bar {
  .breadcrumb {
      font-size: 16px;
      opacity: 0.6;
  }
  
}

#mm-mainarea {
  font-size: 16px;
  margin-top: 50px;
  margin-left: 30px;
}