
@import "../style/index.scss";


// #pinned-message {
//     margin: 0px 0px 50px 0px;
// }

// #contact-info {
//     margin: 25px 0px 50px 0px;
// }

#top-bar {
  .breadcrumb {
      font-size: 11px;
      opacity: 0.6;
  }
  
}

#mm-mainarea {
  margin-top: 50px;
}

// .post-item {
//   display: flex;
//   align-items: center;
// }

// .post-item:last-child {
//   margin-bottom: 0;
// }

// .post-title {
//   margin-bottom: 10px;
// }